body 
  margin: 4em 2em
  background-position:center
  background-size:cover
  background-repeat:no-repeat
  background-color:#000000
  background-style:flat
  background-image:url(https://d1fdloi71mui9q.cloudfront.net/dmf6TpUKQUupYgrWnBRf_tEjp8b55w933r2vU)

.tree 
  margin: 0 auto
  text-align: center
  width: 100%
  max-width: 800px
  .username 
    text-transform: uppercase
    font-weight: 600
    margin: 2em
  .links a 
    margin: 0.75em auto
  .footer 
    margin: 2rem
  .profile-pic 
    width: 150px
    border-radius: 50%
    text-align: center

a.btn 
  background-color: #fff
